/* Sidenav */

ul.nav {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  padding-top: 20px;
  width: 16%;
  background-color: #dc9a9a;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.nav li a {
  display: block;
  padding: 18px;
  font-size: calc(20px + 0.25vw);
  font-weight: 800;
  font-style: normal;
  color: #181818;
font-family: dico-mono-script, mono;
}

ul.nav li a:hover {
  background-color: #181818;
	color: #dc9a9a;}


@media screen and (max-width: 600px) {
  ul.nav {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 15px;
  }

.inactive {
  display: none;
}

  ul.nav li a {
    text-align: center;
    float: none;
  }

  div.content {
    margin-left: 0;}
}

/* COLUMNS */

* {
  box-sizing: border-box;
}

.first-column {
    width: 65%;
    padding: 3px;
    float: left;
}

.second-column {
    width: 30%;
    margin-left: 5%;
    padding: 3px;
    margin-top: 11%;
    float: left;
    background-color: #dc9a9a;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
.content {
  margin-top: 10%;
}

.mobile {
    display: block;
    width: 100%;
    height: auto;
    background-color: #181818;
    border-width: 15px;
    border-color: #dc9a9a;
    border-style: solid;
}


   .first-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

    .second-column {
      display: none;

    }
}

/* Content */

body {
  margin: 0;
  height: 105%;
  background-color: #181818;
}

.content {
  margin-left:19%;
  margin-right: 10%;
  padding:24px;
}

.content h1 {
  background-color: #181818;
  color: #dc9a9a;
  padding: 6px;
  margin: 10px;
  margin-bottom: 0px;
  font-size: calc(22px + 1.5vw);
  font-family: dico-mono-script, mono;
  font-weight: 800;
  font-style: normal;
}

.content h2 {
  background-color: #181818;
  color: #dc9a9a;
  padding: 6px;
  margin: 10px;
  margin-top: 0px;
  font-size: calc(12px + 0.5vw);
  font-family: dico-mono-script, mono;
  font-weight: 400;
  font-style: normal;
}

.second-column a {
  text-decoration: underline;
  font-weight: 700;
  color: #181818;
}

.second-column a:hover {
  background-color: #181818;
	color: #dc9a9a;}

.content p {
  color: #858585;
  font-size: calc(16px + 0.15vw);
  font-family: divenire-mono, serif;
  font-weight: 400;
  margin: 10px;
  font-style: normal;
    text-indent: 0px;
}

.inactive {
  color: #858585;
  text-decoration: line-through;
}

.active {
  text-decoration: underline;
  style: bold;
  font-weight: 700;
}

.second-column p {
  color: #181818;
}

.responsive {
  display: block;
  margin-left: 10px;
  margin-right: auto;
  max-width: 95%;
  width: 95%;
  padding: 0px;
  height: auto;
}

/* Mobile Banner */
.mobile a {
  text-decoration: underline;
  font-weight: 700;
  color: #dc9a9a;
}

.mobile h2 {

  color: #dc9a9a;
  padding: 8px;
  margin: 14px;
  margin-top: 0px;
  font-size: calc(22px + 0.4vw);
  font-family: dico-mono-script, mono;
  font-weight: 700;
  font-style: normal;
}

.mobile p {
  font-size: calc(18px + 0.15vw);
  font-family: divenire-mono, serif;
  font-weight: 400;
  padding: 8px;
    margin: 14px;
  font-style: normal;
    text-indent: 0px;
  color: #dc9a9a;
}

.mobile a:hover {
  background-color: #dc9a9a;
	color: #181818;}
