/* Sidenav */

ul.nav {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  width: 20%;
  background-color: #dc9a9a;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.nav li a {
  display: block;
  padding: 18px;
  font-family: logic-monoscript;
  font-size: calc(20px + 0.25vw);
  font-weight: 800;
  font-style: normal;
  color: #181818;
}

ul.nav li a:hover {
  background-color: #181818;
	color: #dc9a9a;}


@media screen and (max-width: 600px) {
  ul.nav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.nav li a {
    text-align: center;
    float: none;
  }

  div.content {
    margin-left: 0;}
}

/* Content */

body {
  margin: 0;
  background-color: #181818;
}

.content {
  margin-left:20%;
  margin-right: 2%;
  padding:24px;
}

.content h1 {
    background-color: #181818;
  color: #dc9a9a;
  padding: 6px;
  font-size: calc(22px + 1.5vw);
  font-family: logic-monoscript, mono;
  font-weight: 800;
  font-style: normal;
}

.content p {
  color: #858585;
  font-size: calc(16px + 0.15vw);
  font-family: divenire-mono, serif;
  font-weight: 400;
  font-style: normal;
    text-indent: 0px;
}

.second-column p {
  color: #181818;
}

/* Gallery */


div.desc {
  border: 20px solid #dc9a9a;
  padding: 1px;
  background-color: #dc9a9a;
}

div.desc p {
  color: #181818;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 1%;
  float: left;
  width: 90%;
}

@media only screen and (max-width: 800px) {
  .responsive {
    width: 95%;
       height: calc(25% + 10px);

   }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
